name: Add Release to Sentry

on:
  push:
    tags:
      - '*'

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  sentry_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ppy
          SENTRY_PROJECT: osu
          SENTRY_URL: https://satellite.jvnko.boats/
        with:
          environment: production
          version: jvnkosu@${{ github.ref_name }}
